.container {
  width: 80%;
  margin: auto;
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

input {
  padding: 8px;
  margin: 5px;
}

button {
  padding: 8px 12px;
  margin: 3px;
  cursor: pointer;
}

.filter {
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #095971;
}

th {
  background: #495fc3;
}

th,
td {
  padding: 10px;
}